.btnwrongchain {
  background: #0079fc;
  border-radius: 27px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  color: #ffffff;
}
.switchblockchain {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}
.prchasemsg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.comingsoon {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 15px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.comingbtntext {
  background: #262c40;
  border-radius: 4px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
}

.comingbtntexttime {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 203.69%;

  /* or 24px */

  color: #90949e;
}
.comingbtntextnumber {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 10px !important;
  margin-right: 4px !important;
}

.idoovermsg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}

.congrates {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.congratessubmsg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: rgba(255, 255, 255, 0.6);
}

.congratesbtn {
  background: #0079fc;
  border-radius: 71px;
  padding: 16px 32px;
  border: none;
}
.purchaselimit {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}

.winningbtn {
  background: #262c40;
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 79px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  margin-top: 20px;
}

.losemsg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 16px;

  color: #ffffff;
}
