@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Book'), local('Circular-Std-Book'),
    url('AquireLight-YzE0o.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
