@import "/src/styles/variables/common";
@import "/src/styles/mixins/breakpoints";
@import "/src/styles/animations";

.container {
  display: flex;
  width: 100%;

  @include breakpoint("sm-max") {
    flex-direction: column;
  }
}

.image {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  flex-shrink: 0;
  background: $bg-medium no-repeat center / cover;

  .loading & {
    animation: $opacity-pulse;
  }

  @include breakpoint("sm-max") {
   display: none;
  }

  @include breakpoint("xl-min") {
    width: 95px;
    height: 95px;
  }
}

.imageSmall {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: #ebebeb no-repeat center / cover;
  margin: 10px 0 5px;

  .loading & {
    animation: $opacity-pulse;
  }

  @include breakpoint("md-min") {
    display: none;
  }
}

.name {
  font-family: $font-primary;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $color-light;

  @include breakpoint("xl-min") {
    font-size: 25px;
  }

  .loading & {
    color: transparent;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    background: $bg-light;
    line-height: 0;

    animation: $opacity-pulse;
  }
}

.info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include breakpoint("sm-max") {
    margin: 0;
  }
}

.symbol {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: $color-medium;
  margin-left: 5px;

  @include breakpoint("xl-min") {
    font-size: 14px;
  }

  .loading & {
    display: none;
  }
}

.text {
  font-family: $font-primary;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $color-medium;
  margin-top: 7px;

  @include breakpoint("xl-min") {
    font-size: 14px;
  }

  .loading & {
    color: transparent;
    height: 12px;
    width: 150px;
    border-radius: 10px;
    background: $bg-light;
    line-height: 0;

    animation: $opacity-pulse;
  }
}

.websiteLink {
  display: block;
  font-family: $font-primary;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #0080e9;
  margin-top: 5px;

  @include breakpoint("xl-min") {
    font-size: 14px;
  }

  &:hover {
    color: #0080e9;
    opacity: 0.75;
  }
}

.socialLinks {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 90px));
  grid-gap: 9px;

  margin: 10px 0 0;
  padding: 0;

  @include breakpoint("xl-min") {
    grid-gap: 12px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $bg-medium;
  border-radius: 5px;
  height: 21px;
  padding: 0 8px;

  font-family: $font-primary;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $color-light;

  @include breakpoint("xl-min") {
    font-size: 14px;
    height: 25px;
    padding: 0 10px;
  }

  &:hover {
    color: #0080e9;
    opacity: 0.85;
  }
}

.linkIcon {
  height: 11px;
  margin-right: 4px;
}

.tvlContainer {
  width: 258px;
  align-self: flex-end;
  flex: 0 0 auto;
}
