@import '/src/styles/variables/common';
@import '/src/styles/mixins/breakpoints';

.container {
  padding-top: 50px;
}

.buttonRight {
  margin-left: 24px;
}

.btnWordGap {
  word-spacing: 3px;
}

.cta {
  position: relative;
}

.x {
  width: 205px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -44px;
  z-index: -1;
}

.heading {
  display: block;
  font-family: $font-secondary;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.88px;
  text-align: center;
  color: $color-light;
  margin-bottom: 10px;
}

.detail {
  font-family: $font-primary;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: $color-light;
}

.section1 {
  padding-top: 90px;
}

.section2 {
  margin-top: 86px;
  display: flex;
  justify-content: center;

  .intro {
    width: 80%;
    height: 80%;
    margin: auto;
  }
}

.section3 {
  margin: 86px 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  .blockchainItem {
    width: 25%;
    display: flex;
    justify-content: center;

    .blockchainImg {
      width: 75%;
      height: 40px;
    }
  }
}

.section4 {
  margin: 80px 0;

  .listContainer {
    display: flex;
    margin-top: 20px;

    .listChoosing {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);

      .listImg {
        width: 50px;
        margin-bottom: 20px;
      }

      .imgCustom {
        width: 35px;
        margin-bottom: 20px;
      }

      .listInfo {
        width: 80%;

        .listHeading {
          font-family: $font-primary;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.8;
          color: $color-light;
        }

        .listDetail {
          font-family: $font-primary;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.7;
          text-align: left;
          color: $color-light-gray;
        }
      }
    }
  }
}

.section5 {
  margin: 80px 0;

  .quarterlyContainer {
    display: flex;
    margin-top: 50px;

    .quarterlyItem {
      position: relative;
      width: calc(90% / 3);
      background-color: #1c2439;
      border-radius: 10px;
      padding: 28px 58.5px 28px 26.5px;
      margin-right: 2%;

      .textAbsolute {
        position: absolute;
        top: 29px;
        bottom: 0;
        right: 0;
        font-family: Inter;
        font-size: 60px;
        color: #050c1f;
        margin-bottom: 0;
      }

      .quarterlyHeading {
        position: relative;
        font-family: $font-primary;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.18;
        color: $color-light;
        z-index: 99;
      }

      .quarterlyDetail {
        position: relative;
        font-family: $font-primary;
        font-size: 13.5px;
        font-weight: normal;
        line-height: 1.85;
        text-align: left;
        color: $color-light-gray;
        margin-bottom: 0;
        z-index: 99;
      }
    }
  }
}

.section6 {
  margin: 80px 0;

  .listTeamContainer {
    display: flex;
    flex-flow: wrap;

    .listTeamItem {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 25%;
      margin: 25px 0;

      .avartarContainer {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-image: linear-gradient(to top, #c1a6fb, #84c1fe, #a2dccf),
          linear-gradient(to top, #c1a6fb, #84c1fe, #a2dccf);
        margin-bottom: 20px;
        padding: 4px;

        .avartarImg {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        font-family: $font-primary;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.11;
        color: $color-light;
      }

      .position {
        font-family: $font-primary;
        font-size: 14px;
        font-weight: normal;
        line-height: 2.08;
        color: $color-light-gray;
        margin-top: 10px;
      }

      .twitter {
        width: 30px;
      }
    }
  }
}

.section7 {
  margin: 80px 0;

  .investersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    .investersItem {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 20%;
      margin: 25px 0;

      .investerImg {
        width: 60%;
      }
    }
  }
}
