.prchasemsg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.btnwrongchain {
  background: #0079fc;
  border-radius: 27px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  color: #ffffff;
}
