.congrates {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.congratessubmsg {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: rgba(255, 255, 255, 0.6);
}

.winningbtn {
  background: #262c40;
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 79px;
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  margin-top: 20px;
}
