.comingsoon {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
}

.comingbtntextnumber {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 10px !important;
  margin-right: 4px !important;
}

.comingbtntexttime {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 203.69%;
  color: #90949e;
}
