.switchblockchain {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}
.btnwrongchain {
  background: #0079fc;
  border-radius: 27px;
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
}
