@import "/src/styles/variables/common";
@import "/src/styles/mixins/breakpoints";
@import "/src/styles/animations";

.progressDetail {
  font-family: $font-primary;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $color-medium;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;

  .loading & {
    color: transparent;
    background: $bg-light;
    border-radius: 10px;
    width: 150px;
    animation: $opacity-pulse;
  }
}

.percent {
  color: $color-light;
  font-weight: 600;

  .loading & {
    color: transparent;
  }
}
