@import '/src/styles/mixins/breakpoints';
@import '/src/styles/variables/common';

@import '/src/styles/mixins/breakpoints';
@import '/src/styles/variables/common';

.container {
  border-radius: 7.5px;
  border: 0.5px solid $color-grey-border;
  //border: 0.5px solid $color-grey;
  padding: 0 15px;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: $color-grey;

  //usama's change start, contact me incase of inconvience
  width: 100%;
  color: white;
  font-size: 15px;

  // usama's change end

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 50px $color-grey;
    color: $color-medium !important;
    -webkit-text-fill-color: $color-medium !important;
  }

  :global {
    .ant-input {
      font-family: $font-primary;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 12px;
      letter-spacing: normal;
      text-align: left;
      color: $color-darkest;
      background-color: $color-grey;

      //color: $color-darkest;

      &::placeholder {
        color: $color-thin-light;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 50px $color-grey;
        color: $color-medium !important;
        -webkit-text-fill-color: $color-medium !important;
      }
    }

    .ant-input-number-input {
      padding: 0 5px 0 0;
      height: auto;
    }

    .ant-input-number-handler {
      padding: 0 5px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-input-number-handler-wrap {
      width: 32px;
    }

    .ant-input-number-handler-up-inner,
    .ant-input-number-handler-down-inner {
      right: 10px;
    }

    .ant-input-number-handler:hover {
      .ant-input-number-handler-up-inner,
      .ant-input-number-handler-down-inner {
        color: $color-green;
      }
    }
  }
}

.containerIcon {
  padding: 0 15px 0 21.5px;

  :global {
    .ant-input {
      margin-left: 14.5px;
    }
  }
}

.containerLight {
  background-color: $bg-light-darker;
  :global {
    .ant-input {
      background-color: $bg-light-darker;
    }
  }
}

.prefix {
  max-width: 16.5px;
  max-height: 16.5px;
}

//.container {
//  display: block;
//  width: auto;
//  border-radius: 7.5px;
//  //border: 0.5px solid $color-grey !important;
//  overflow: hidden;
//  padding: 9.5px 15px;
//
//  font-family: $font-primary;
//  font-size: 15px;
//  font-weight: normal;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: 12px;
//  letter-spacing: normal;
//  text-align: left;
//  //color: $color-darkest;
//
//  &::placeholder {
//    color: $color-light;
//  }
//
//  :global {
//    .ant-input-number-input {
//      padding: 0 5px 0 0;
//      height: auto;
//    }
//
//    .ant-input-number-handler {
//      padding: 0 5px;
//      box-sizing: border-box;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//    }
//
//    .ant-input-number-handler-wrap {
//      width: 32px;
//    }
//
//    .ant-input-number-handler-up-inner, .ant-input-number-handler-down-inner {
//      right: 10px;
//    }
//
//    .ant-input-number-handler:hover {
//      .ant-input-number-handler-up-inner, .ant-input-number-handler-down-inner {
//        color: $color-green;
//      }
//    }
//  }
//}
