@import '/src/styles/variables/common';
@import '/src/styles/mixins/breakpoints';

.container {
  position: relative;
}

.section1 {
  padding: 110px 0;
  section h1 {
    word-spacing: 3px;
  }
}

.section2 {
  padding: 50px 0;

  .separately {
    margin-bottom: 20px;
  }
}

.textNormal {
  font-family: $font-primary;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: $color-light;
  margin-bottom: 0;
}

.textBold {
  font-family: $font-primary;
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  text-align: left;
  color: $color-light;
  margin-bottom: 25px;
}

.textMargin {
  font-family: $font-primary;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: $color-light;
  margin-bottom: 25px;
}

.cta {
  position: relative;
}

.x {
  width: 205px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -44px;
  z-index: -1;
}
